# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

#Ignore .vscode file
.vscode/

#Ignore this random crap
.~lock.Java.xlsx#

